:root {
    --header-height: 36px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    padding: 17px 30px;
    border: 2px solid #F26464;
    border-radius: 60px;
    cursor: pointer;
}

.btn:hover {
    background-color: #F26464;
    color: #FFF;
}

#container {
    max-width: 1320px;
    margin: 0 auto;
}

#header {
    padding: 20px 94px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.navbar .navbar__media {
    display: flex;

}

.navbar .navbar__title {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000;
    display: flex;
    align-items: center;
    line-height: var(--header-height);
    text-decoration: none;
}

.navbar__title span:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
}


.navbar .navbar__media__item {
    border-radius: 50%;
    margin-left: 12px;
    display: block;
    height: 24px;
    width: 24px;
    background-color: #F26464;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider {
    display: flex;
    margin-top: 36px;
}

#slider .slider__image {
    width: 80%;
}

#slider .slider__image img {
    width: 100%;    
}

#slider .slider__description {
    margin-left: 100px;
}

.slider__description .slider__description__info {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #000;
    width: 60%;
}

.slider__description .slider_description__head { 
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 48px;
}

.slider__description__perform {
    display: flex;
    margin-top: 72px;
    align-items: center;
}

.slider__description__perform .perform__item {
    margin-right: 60px;
}

.perform__item .perform__item__head {
    display: block;
    color: #F26464;
    font-size: 36px;
    font-weight: 800;
}

.perform__item .perform__item__desc {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 8px;
}


#content {
    margin-top: 60px;
}

#content .content__about h4,
#content .content__skills  h4 {
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
}

#content .content__about p {
    color: #373737;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}


#content .content__skills {
    display: flex;
}

#content .content__skills .skills {
    width: 50%;
}

#content .content__skills .skill_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 11px;
}

#content .content__skills .skill_list li {
    display: inline-block;
    color: #373737;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #D7D7D7;
    border-radius: 27px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}


#content .content__experience {
    margin-top: 120px;
}

#content .content__work .work__tittle,
#content .content__experience .experience__tittle {
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px
}

#content .content__experience .experience__list {
    display: flex;
}


.experience__item .experience__time {
    display: block;
    color: #373737;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}

.experience__item .experience__company {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 16px;
    font-family: 'Inter';
}

.experience__item .experience__position {
    display: block;
    color: #373737;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 30px;
}

.experience__item .experience__desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    width: 80%;
    color: #757575;
}

.experience__item .experience__detail {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.experience__item .experience__detail li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 28px;
    position: relative;
    margin-bottom: 20px;
    max-width: 90%;
    color: #757575;
}

.experience__item .experience__detail li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #373737;
}

#content .content__work {
    margin-top: 120px;
}


.work__list .work__item {
    display: flex;
    padding: 40px 70px 0;
    background-color: #F6F8FA;
    margin-bottom: 40px;
}

.work__list .work__item .work__item__info {
    width: 60%;
    padding-top: 20px;
    padding-right: 120px;
}

.work__item__info .info__tittle {
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.work__item__info .info__desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.work__item__info .info__btn {
    margin-top: 32px;
}

.work__item__info .info__btn:hover {
    background-color: #F26464;
    color: #FFF;
    cursor: pointer;
}

.work__item .work__item__img {
    width: 40%;
}

.work__item .work__item__img img {
    width: 100%;
    height: auto;
}

#footer {
    margin-top: 120px;
    background-color: #000;
    color: #FFF;
}

#footer .footer__content {
    padding: 120px 0;
    text-align: center;
}

.footer__content span {
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 20px;
}

.footer__content h4 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer__content p {
    letter-spacing: 1.13px;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 40px;
}

.footer__copyright {
    margin-top: 100px;
    color: rgba(255,255,255,0.5);
    letter-spacing: 1px;
    font-size: 16px;
}
